@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Abel);
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #383e4c;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.6rem;
    font-weight: 400;
    color: #fafafa;
}
h1 {
    font-family: "Abel", sans-serif;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 3.5rem;
    text-align: center;
    line-height: 4.5rem;
}

#log {
    background-color: #262c37;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2.5rem;
    padding: 1rem 1rem;
    width: 90vw;
    max-width: 90vh;
    border-top: #d44766 5px solid;
    height: 60vh;
    margin-top: -1rem;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

#log p:first-of-type {
    margin-top: 0;
}

#log p:last-of-type {
    margin-bottom: 0;
}

#log .success {
    color: #d44766;
}