form {
    background-color: #262c37;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10rem;
    padding: 2rem 1rem;
    width: 90%;
    max-width: 300px;
    border-top: #d44766 5px solid;
}
form label {
    display: block;
}
form input {
    display: block;
    margin-bottom: 1rem;
    border: none;
    width: 100%;
    padding: 1rem 0.75rem;
    background-color: #fafafa;
}
form button {
    background-color: #d44766;
    border: none;
    text-transform: uppercase;
    padding: 1.25rem 2.5rem;
    color: #fafafa;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    width: 100%;
}